<div class="promo-container">
  <div class="promo-main-view" [class.hidden]="readyForPinCode">
    <div class="promo-item manual-code"
     (click)="showEnterCodeScreen()"
     [ngClass]="{'slide-left': animateItem(0)}">
      <div class="icon-container">
      </div>
      <div class="promo-content">
        <ng-container *ngIf="(translationsLoaded$ | async); else enterCodeSkeleton">
          <span class="promo-title text-loaded-fade-in">{{ "PromoList.enterCode" | translate }}</span>
        </ng-container>
        <ng-template #enterCodeSkeleton>
          <span class="promo-title skeleton-text skeleton-long">&nbsp;</span>
        </ng-template>
      </div>
      <div class="arrow-icon">
        <span>›</span>
      </div>
    </div>

    <div class="loader-container" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>

    <div class="error-message" *ngIf="error">
      <p>{{ error }}</p>
    </div>

    <ng-container *ngIf="!isLoading && isCustomer && promotions.length > 0">
      <div class="promo-item"
           *ngFor="let promo of promotions; let i = index"
           #promoElement
           (click)="selectPromo(promo, promoElement)"
           [ngClass]="{'slide-left': animateItem(i+1)}">
        <div class="promo-content">
          <span class="promo-title">{{ promo.title }}</span>
          <span class="promo-reward" [ngClass]="{'reward-credits': promo.reward_type === 'Point', 'reward-cash': promo.reward_type === 'Montant'}">
            {{ formatReward(promo) }}
          </span>
          <span class="promo-utilisation" *ngIf="getUtilisationInfo(promo)">
            {{ getUtilisationInfo(promo) }}
          </span>
        </div>
      </div>
    </ng-container>

    <div class="no-promo-message"
         *ngIf="!isLoading && ((!isCustomer) || (isCustomer && promotions.length === 0))"
         [ngClass]="{'fade-in': isReturnFromPinCode}">
      <div class="icon-container">
        <div class="question-icon">?</div>
      </div>

      <ng-container *ngIf="(translationsLoaded$ | async); else noPromoMessageTextSkeleton">
        <p class="text-loaded-fade-in">{{"PromoList.emptyInventory" | translate}}</p>
      </ng-container>
      <ng-template #noPromoMessageTextSkeleton>
        <p><span class="skeleton-text skeleton-xlong">&nbsp;</span></p>
      </ng-template>
    </div>
  </div>

  <app-pin-code
    *ngIf="showPinCode"
    [pinTitle]="'PromoList.enterPromoCode' | translate"
    [placeholderText]="'PromoList.codeInputPlaceholder' | translate"
    [validateButtonText]="'PromoList.validate' | translate"
    [clearButtonText]="'C'"
    [translationsReady]="(translationsLoaded$ | async)!" (cancel)="hideEnterCodeScreen()"
    (startExitAnimation)="prepareReturnAnimation()"
    (validate)="validateEnteredCode($event)"
    (showConfirmation)="showConfirmationScreen($event)">
  </app-pin-code>

  <app-confirmation
    *ngIf="showConfirmation"
    [data]="confirmationData"
    (close)="hideConfirmationScreen()"
    (backToPinCode)="backToPinCodeFromConfirmation()">
  </app-confirmation>
</div>